body{
	background-color: rgb(204, 204, 204)
}
h1,h2{
	text-align:center;
}
div{
	border:1px solid black;
	background-color: rgb(255, 255, 255); 
	
}
.player_one,.player_two{
	background-color: rgb(255, 255, 255); 
	padding:10px; 
	border-radius:5px;
}
li{
	list-style-type:none;
}